<p>Dear, {{NAME}} </p>

<p>Please reset your password by <a href={{LINK}}>clicking here</a>.</p>

<p>
Please do not reply directly to this email as it is an unattended email address. 
</p>

<p>With best regards,</p>

<p>
Team RetailHub
</p>
