<p>Dear {{NAME}}, </p>

<p>Your RetailHub account has been created.</p>
<p>Your password is <b>{{ PASSWORD }}</b>.</p>
<p>You can update your password after login.</p>
<p>
Please do not reply directly to this email as it is an unattended email address. 
</p>

<p>With best regards,</p>

<p>
Retail Hub
</p>
