<p>Dear {{NAME}},</p>
<p>Please verify your email by <a href="{{LINK}}" target="_self">clicking here</a> .</p>
<p>Your account will not be activated until you verify your email.</p>
<p>Please do not reply directly to this email as it is an unattended email address.</p>
<p>With best regards,</p>
<p>Team Retail Hub</p>
